.header{
    width: 85%;
    height: 5em;
    background: url('../../images/people-silhouette.png') no-repeat center center;
    background-size: contain;
    background-color: silver;
    margin: 0 auto;
}